<header class="site-header row">
    <div class="large-4 large-offset-4 small-12 columns">
      <div class="ascii-border">
        
        <h1 class="site-title"><a class="site-title__link" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <div class="row">
            <nav class="columns large-12 site-header__nav">
                <a href="mailto:entirecities@gmail.com">contact</a>&nbsp;|
                <a href="//www.facebook.com/entirecities" target="_blank">facebook</a>&nbsp;|
                <a href="//www.twitter.com/entirecities" target="_blank">twitter</a>
                <br>
                <a href="//entirecities.bandcamp.com/" target="_blank">bandcamp</a>&nbsp;|
                <a href="//www.soundcloud.com/entire-cities" target="_blank">soundcloud</a>&nbsp;|
                <a href="//www.youtube.com/entirecities" target="_blank">youtube</a>
            </nav>
        </div>
      </div>
    </div>
</header>